<h1> Exibindo produto </h1>

<p>
  <b> Nome: </b>
  <%= @produto.nome %>
</p>

<p>
  <b> Descrição: </b>
  <%= @produto.descricao %>
</p>

<p>
  <b> Valor: </b>
  <%= formato_moeda_real(@produto.valor) %>
</p>

<p>
  <b> Quantidade: </b>
  <%= @produto.quantidade %>
</p>

<%= link_to 'Editar', edit_produto_path(@produto) %>
<%= link_to 'Voltar', produtos_path %>

