<% if @venda.errors.any? %>
  <ul>
    <%@venda.errors.full_messages.each do |msg| %>
      <li><font color='RED'><%= msg %> </font></li>
    <% end %>
  </ul>
<% end %>

<%form_for (@venda) do |f| %>
  Produto: <br/><%= f.collection_select(:produto_id,Produto.order(:nome),:id,:nome,{:include_blank=>'Selecione um produto'}) %><br/>
  Vendedor: <br/><%= f.collection_select(:vendedor_id,Vendedor.order(:nome),:id,:nome,{:include_blank=>'Selecione um vendedor'}) %><br/>
  Cliente: <br/><%= f.collection_select(:cliente_id,Cliente.order(:nome),:id,:nome,{:include_blank=>'Selecione um cliente'}) %><br/>
  <br/>
  <% if @venda.new_record? %>
    <%= submit_tag 'Efetuar venda' %>
  <% else %>
    <%= submit_tag 'Atualizar dados da venda' %>
  <% end %>
<% end %>
<br/>
<%= link_to 'Voltar', vendas_path %>

