<% if @cliente!=nil%>
  <h2>Lista de vendas feitas ao cliente <%=@cliente.nome %></h2>
<% else %>
  <h2> Lista de todas as vendas</h2>
<% end %>

<p>
  <%= form_tag vendas_path, :method => 'get' do %>
  <%= text_field_tag :nome_cliente, params[:nome_cliente] %>
  <%= submit_tag "Buscar por Cliente" , :name => nil%>
  <% end %>
</p>
<br/>

<table cellpadding=10>

  <tr bgcolor='#4B7399' style='color:white'>
    <th>Produto</th>
    <th>Vendedor</th>
    <th>Cliente</th>
    <th> </th>
    <th> </th>
    <th> </th>
  </tr>
  <% @vendas.each do |venda| %>
    <tr>
      <td><%= venda.produto.nome%></td>
      <td><%= venda.vendedor.nome%></td>
      <td><%= venda.cliente.nome%></td>
      <td><%= link_to 'Mostrar', venda%></td>
      <td><%= link_to 'Editar', edit_venda_path(venda)%></td>
      <td><%= link_to 'Excluir', venda, :confirm => 'Tem certeza?', :method => :delete%></td>
    </tr>
  <% end %>
</table>

<br/>

<%= link_to 'Efetuar venda', new_venda_path%>

